.container {
    text-align: center;
    margin-top: 50px;
}

.button-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: bolder;
    color: white;
    background-color: #ff0000;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn:hover {
    color: white;
    background-color: #a80000;
}

.btn-logout {
    display: inline-block;
    padding: 5px 12px;
    font-size: 18px;
    font-weight: bolder;
    color: white;
    background-color: #2e2e2e;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn-logout:hover {
    color: white;
    background-color: #000000;
}

.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-container h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-input:focus {
    border-color: #ff0000;
    outline: none;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}

.btn-login {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bolder;
    color: white;
    background-color: #ff0000;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
    cursor: pointer;
}

.btn-login:hover {
    color: white;
    background-color: #a80000;
}
